# -------------------------------------
# 빌드 시스템 및 캐시 관련
# -------------------------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


# -------------------------------------
# IntelliJ IDEA 관련
# -------------------------------------
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/


# -------------------------------------
# VS Code 관련
# -------------------------------------
.vscode/


# -------------------------------------
# 로그 파일 및 디렉토리
# -------------------------------------
logs/
*.log
log/


# -------------------------------------
# 임시 파일, 백업 파일
# -------------------------------------
*.tmp
*.bak
*.orig
*.old
*.backup
.DS_Store
Thumbs.db
*.swp


# -------------------------------------
# 중요정보 및 환경파일
# -------------------------------------
.env
.env.*
**/.env
**/.env.*
**/application-secret.yml
